@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --text-color: #ffff;
}
body {
    margin: 0;
    padding: 0;
    background-color: #131313;
}
html {
    scroll-behavior: smooth;
}

/*Navbar Style*/ 
header {
    position: fixed;
    width: 100%;  
    z-index: 1000; 
}
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 30px;
    background-color: #131313;
}
.nav-links {
    display: flex; 
    justify-content: center; 
    flex: 1; 
}
.nav-links a {
    text-decoration: none; 
    color: var(--text-color); 
    padding: 10px; 
    position: relative; 
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s ease;
    margin: 0 30px; 
}
.nav-links a::after {
    content: ''; 
    display: block; 
    height: 2px; 
    background: #ffe600; 
    width: 0; 
    transition: width 0.3s ease; 
    position: absolute; 
    left: 0; 
    bottom: -5px; 
}
.nav-links a:hover::after {
    width: 100%; 
}
#logo {
    width: auto;
    height: 2rem;
}
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
}
.hamburger .line {
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: all 0.3s ease;
}  
/*Navbar Style End*/ 

/*Content Style*/
#content {
    padding: 15rem 15rem 5rem 15rem;
}
.content-photo {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
#profile {
    width: 270px;
    height: 270px;
    border-radius: 900px;
}
.content-txt {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 2.4vw;
    color: #DAA513;
    text-align: center;
    font-weight: normal;
}
.btn {
    color: var(--text-color);
    font-family: "Poltawski Nowy", serif;
    padding: 1rem 1.7rem 1rem 1.7rem;
    border: white solid 1px; 
    text-decoration: none;
}
.btn:hover {
    background-color: #413b3b;
}
.btn-grp {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
/*Content Style End*/

/*About Style*/
#about {
    padding: 10rem 15rem 6rem 15rem;
}
.about-content {
    padding: 0;
}
.title {
    font-family: "Poltawski Nowy", serif;
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin-top: 2rem; 
    margin-bottom: 1rem; 
}
.description {
    font-family: "Poltawski Nowy", serif;
    text-align: justify;
    color: var(--text-color);
    margin-bottom: 3rem; 
    font-size: 1.2rem;
    font-weight:lighter;
    margin-left: 5rem;
}
.lntxt {
    color: #FFBB00;
}
/*About Style End*/

/*Skill Style*/
#skills {
    padding: 6rem 15rem 6rem 15rem;
}
.skills-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 20px;  
}
.skills-title {
    color: white ;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}
.cont {
    display: flex;          /* Enables flexbox layout */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Vertically center the content */
    align-items: center;    /* Horizontally center the content */
    background-color: #272727; /* Set the background to grey */
    padding: 15px;          /* Optional: Add some space around the content */
    margin: 1px;           /* Optional: Add margin between each container */
    border-radius: 10px;    /* Optional: Round the corners */
    transition: background-color 0.5s ease;
}
.cont:hover {
    background-color: #01b4ab;
}
#skill-logo {
    margin-bottom: 10px;    /* Space between the image and the text */
    width: 100px; /* Adjust size of the icons */
    height: auto;
}
/*Skills Style End*/

/*Work Style*/
#work {
    padding: 6rem 15rem 6rem 15rem;
}
.work-cont {
    margin-top: 0rem;
}
#project {
    width: 100%;
    height: auto; 
}
.title-work {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
}
.description-work {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: var(--text-color);
}
/*Work Style End*/

/*Qoute Style*/
.container {
    padding: 6rem 15rem 6rem 15rem;
    font-family: "Agdasima", serif;
    color: white;
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    justify-content: center; 
}
img {
    width: 350px;
}
.quote {
    margin-top: 250px;
    font-size: 70px;
    font-weight: normal;
}
.highlight {
    color: #FFBB00;
}
.author {
    font-size: 20px;
    margin-top: 10px;
}
/*Qoute Style End*/

/*Contact Style*/
.contact-title {
    font-family: "League Spartan", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
    margin-top: 2rem; 
}
#contact {
    padding: 6rem 15rem 6rem 15rem;
    display: flex;
}
textarea {
    width: 40vw;
    height: 20rem;
    padding: 15px 0px 0px 10px;
    font-family: 'Poppins', sans-serif;
    resize: vertical;
    margin-top: 5px;
    border: none;
    border-radius: 15px;
}
#name {
    padding: 15px 0px 15px 10px;
    width: 40.1vw;
    border: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    margin-top: 2px;
}
#submit {
    background-color: #2752FF;
    color:var(--text-color);
    width: 40.7vw;
    padding: 13px 0px 13px 0px;
    margin-top: 20px;
    border-radius: 15px;
    border: none;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.5s ease;
}
#submit:hover {
    background-color: #2079ff;
}
.contact-links {
    margin-top: 4.5rem; 
    width: 100%;
}
.contact-links-title {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 60px;
}
.underline-text {
    text-decoration-line: underline ;
    text-decoration-style: wavy;
    font-weight: 500;
    text-decoration-color: #e5ff00;
}
#link {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}
.social-links {
    display: flex; 
    margin-top: 50px;
}
/*Contact Style End*/

/*Footer Style*/
footer {
    background-color: #1a1a1a;
    padding: 1.5rem 0rem;
}
.copyright {
   color: var(--text-color);
   font-family: 'Poppins', sans-serif;
   font-size: 13px;
   text-align: center;
}
/*Footer Style End*/

/*Scrollbar Style*/
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-thumb {
    background: hsl(44, 100%, 50%);
  }
::-webkit-scrollbar-thumb:hover {
    background: hsl(44, 100%, 20%);
  }
/*Scrollbar Style End*/

/*Media Quiries Breakpoint*/
@media (min-width: 2500px) {
    .content-txt {
        font-size: 4rem;
    }
    .qoute {
        text-align: center;
        font-size: 2rem;
    }
    .description {
        font-size: 1.3rem;
    }
    .description-work {
        font-size: 1.3rem;
    }
    .nav-links a {
        font-size: 20px;
    }
}

@media (max-width: 1536px) {
    #about {
        padding: 6rem 5rem 6rem 5rem;
   }
   .description {
        font-size: 1rem;
   } 
    #skills {
        padding: 6rem 5rem 6rem 5rem;
   }
   .cont {
        margin-right: 1rem;
        margin-left: 1rem ;
   }   
   #work {
        padding: 6rem 5rem 6rem 5rem;
   }   
   .qoute {
        padding: 5rem 5rem 5rem 5rem;
        font-size: 2.1rem;
   }
    #contact {
        padding: 6rem 5rem 6rem 5rem;
   }
    textarea {
        width: 45vw;
   }
    #name {
        width: 45.3vw;
   }
    #submit {
        width: 45.7vw;
   }
   .contact-links {
        margin-top: 95px;
        margin-right: 130px;
   }
   #content {
    padding: 10rem 5rem 5rem 5rem;
   }
}

@media (max-width: 1280px) {
    #about {
        padding: 6rem 4rem 6rem 4rem;
    }
    .title {
        font-size: 2.4rem;
    }
    #skills {
        padding: 6rem 4rem 6rem 4rem;
    }
    .cont {
        margin-right: 0rem;
        margin-left: 0rem;
    } 
    #skills-logo {
        width: 100%;
        height: 8.7rem;
    }
    #work {
        padding: 6rem 4rem 6rem 4rem;
    }   
    .qoute {
        padding: 5rem 8.5rem 5rem 8.5rem;
        font-size: 1.5rem;
    }
    #contact {
        padding: 6rem 4rem 6rem 4rem;
    }
    textarea {
        width: 45vw;
    }
    #name {
        width: 45.3vw;
    }
    #submit{
        width: 45.7vw;
    }
    .contact-links {
       margin-top: 88px;
       margin-right: 100px;
    }

}

@media (max-width: 1024px) {
    #about {
        padding: 6rem 3rem 6rem 3rem;
    }
    .title {
        font-size: 2.2rem;
    }
    #skills {
        padding: 6rem 4rem 6rem 4rem;
    }
    #skills-logo {
        width: 100%;
        height: 8.7rem;
    }  
    #work {
        padding: 6rem 4rem 6rem 4rem;
    }
    .qoute {
        padding: 5rem 5rem 5rem 5rem;
        font-size: 1.3rem;
    }
    #contact {
        padding: 5rem 5rem 5rem 5rem;
    }
    .contact-links {
        margin-top: 90px;
        margin-right: 0px;
    }
    .content-txt {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
     .nav-links {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 70px; 
        right: 0;
        background-color: #131313;
        width: 100%;
        text-align: center;
    }
    .nav-links.active {
        display: flex; 
    }
    .nav-links a {
        margin: 20px 0; 
    }
    .nav-links a::after {
        content: ''; 
        background: #131313;   
        height: 0px; 
    }
    .hamburger {
        display: flex;
    }
    #about {
        padding: 6rem 2rem 6rem 2rem;
    }
    .title {
        font-size: 2rem;
    }
    .description {
        margin-bottom: 0.5rem;  
    }
    #skills {
        padding: 6rem 2rem 6rem 2rem;
    }
    .cont {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    } 
    #work {
        padding: 6rem 2rem 6rem 2rem;
    }
    .qoute {
        padding: 2rem 4rem 2rem 4rem;
        font-size: 1rem;
    }
    #contact {
        padding: 6rem 2rem 6rem 2rem;
        display: block;
    }
    textarea {
        width: 91vw;
    }
    #name {
        width: 91.5vw;
    }
    #submit{
        width: 92vw;
    }
    .contact-links {
        text-align: left;
    }
    #content {
        padding: 10rem 1rem 5rem 1rem;
    }
    .content-txt {
        font-size: 2.3rem;
    }
    #profile {
        width: 350px;
        height: 360px;
    }
}

@media (max-width: 640px) {
    #about {
        padding: 6rem 1.5rem 6rem 1.5rem;
    }
    .title {
        font-size: 2rem;  
    }
    .description {
        margin-bottom: 0.5rem;  
    }
    #skills {
        padding: 6rem 1.5rem 6rem 1.5rem;
    }
    .cont {
        margin-right: 0.2rem;
        margin-left: 0.2rem;
    } 
    #work {
        padding: 6rem 1.5rem 6rem 1.5rem;
    }
    .qoute {
        padding: 2rem 4rem 2rem 4rem;
        font-size: 0.9rem;
        text-align: center;
    }
    #contact {
        padding: 6rem 1.5rem 6rem 1.5rem;
        display: block;
    }
    .content-txt {
        font-size: 1.9rem;
    }
    #profile {
        width: 290px;
        height: 299px;
    }
    
}
   
@media (max-width: 480px) {
    #about {
        padding: 6rem 1.5rem 6rem 1.5rem;
    }
    .title {
        font-size: 1.8rem;
        margin-top: 1.5rem;
    }
    .description {
        margin-bottom: 0.5rem;
        
    }
    #skills {
        padding: 6rem 1.5rem 6rem 1.5rem;
    }
    .cont {
        margin-right: 0rem;
        margin-left: 0rem;
    } 
    #skills-logo {
        width: 100%;
        height: 4.5rem;
    }  
    #work {
        padding: 6rem 1.5rem 6rem 1.5rem;
    }  
    .qoute {
        padding: 2rem 1.8rem 2rem 1.8rem;
        font-size: 1rem;
        text-align: center;
    }
    #contact {
        padding: 6rem 1rem 6rem 1rem;
        display: block;
    }
    .contact-title {
        font-size: 25px;
    }
    #profile {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 425px) {
    .cont {
        margin-right: 0.8rem;
        margin-bottom: 0rem; 
        padding: 0px 0px;
    }
    #skills-logo {
        width: 100%;
        height: 7rem;
    }
}

@media (max-width: 375px) {
    .cont {
        margin-right: 0rem;
        margin-bottom: 0rem; 
        padding: 1rem;
    }
    #skills-logo {
       width: 100%;
       height: 8rem;
    }
    .content-txt {
        font-size: 1.6rem;
    }
    textarea {
        width: 89vw;
    }
    #name {
        width: 90.1vw;
    }
    #submit{
        width: 91.1vw;
    }
    .link-title {
        font-size: 1.1rem;
    }
    #link {
        font-size: 1rem;
    }
    .copyright {
        font-size: 12px;
    }
}

@media (max-width: 360px) {
    .cont {
        margin-right: 1rem;
        margin-bottom: 0.5rem; 
        padding: 1rem;              
    }
    #skills-logo {
       width: 100%;
       height: 6.5rem;
    }
}

@media (max-width: 300px) {
    .title {
        font-size: 25px;
    }
    .contact-links {
        margin-top: 0rem;
        margin-right: 0rem;
    }
    .contact-title {
         font-size: 20px; 
         margin-top: 5rem;
    }
    textarea {
        width: 93vw;
    }
    #name {
        width: 93.8vw;
    }
    #submit{
        width: 95vw;
    }
    #link {
        font-size: 16px;
    }
    .qoute {
        font-size: 10px;
    }
    .copyright {
        font-size: 15px;
    }
    .cont {
        margin-right: 0.8rem;
        margin-bottom: 0rem; 
        padding: 0px 0px;
    }
    #skills-logo {
        width: 100%;
        height: 5rem;
    }
    #content {
        padding: 10rem 1rem 1rem 1rem;
    }
    #about {
        padding: 6rem 0.4rem 1.5rem 0.4rem;
    }
    #skills {
        padding: 6rem 0.4rem 1.5rem 0.4rem;
    }
    #work {
        padding: 6rem 0.4rem 1.5rem 0.4rem;
    }
    #contact {
        padding: 6rem 0.4rem 1.5rem 0.4rem;
    }
}

